[General]
LOGDIR = 
PARENT = this
OU = backup
OBJECTCLASS = sstVirtualizationBackupObjectClass
SSTBACKUPROOTDIRECTORY = 
SSTBACKUPRETAINDIRECTORY = 
SSTBACKUPRAMDISKLOCATION = 
SSTVIRTUALIZATIONDISKIMAGEFORMAT = 
SSTVIRTUALIZATIONDISKIMAGEOWNER = 
SSTVIRTUALIZATIONDISKIMAGEGROUP = 
SSTVIRTUALIZATIONDISKIMAGEPERMISSION = 
SSTVIRTUALIZATIONDISKIMAGEDIRECTORYOWNER = 
SSTVIRTUALIZATIONDISKIMAGEDIRECTORYGROUP = 
SSTVIRTUALIZATIONDISKIMAGEDIRECTORYPERMISSION = 
SSTBACKUPNUMBEROFITERATIONS = 1
SSTVIRTUALIZATIONVIRTUALMACHINEFORCESTART = FALSE
SSTVIRTUALIZATIONBANDWIDTHMERGE = 0
DN = sstVirtualMachine=*

[dummy-machine]
DN = sstVirtualMachine=dummy-machine
SSTSOURCEFILE = 
OBJECTCLASS = sstVirtualizationVirtualMachineDisk
SSTNODE = 